  $colors: (
    primary: #005dff,
    accent: #fff6bb
  );

  $padding: 15px;
  $borders: 15px;

  @function color($color-name){
      @return map-get($colors, $color-name)
  }

  body, html {
      height: 100%
  }

  body { 
    font-family: 'Montserrat';
    margin: 0;
   
    #bg {
        clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
        background-color: color(primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;   
    }

    header a {
        color: #fff;
        text-decoration: none;
        padding: $padding;
        display: block;
        text-decoration: uppercase;
    
    }
  }

  main {

      section#card {
        background: #fff;
        padding: 20px;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0,0,0,2); 

        ul {
            list-style-type: none;

        }
      }
  }